@charset "utf-8";
/* CSS Document*/

/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
.clearfix:before, .clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;/*IE/7/6*/}

/* General
***********************/
*{
    /*-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;*/
}
html, body{
	margin: 0;
	padding: 0;
}
body{
	background: #000;
	color: #333;
	font: normal 18px/1.6 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	*font-family: "Microsoft YaHei", sans-serif;
}
h1{
	font-size: 80px;
	color: #97DC44;
	margin-top: 60px;
	padding-left: .5em;
}
h1 span{
	font-size: 18px;
	color: #97DC44;
}

.slider{
	width: 960px;
	height: 500px;
	margin: 0 auto;
	margin-top: 60px; 
}
.slider ul{
	position: relative;
	background: black;
}
.slider li{
	float: left;
	width: 960px;
	overflow: hidden;
	position: relative;
	opacity: .2;
	filter: alpha(opacity=20);
	transition: .3s;
}
.slider li.active{
	opacity: 1;
	filter: alpha(opacity=100);
}
.slider li:hover{
	opacity: .8;
	filter: alpha(opacity=80);
}